{% extends "base.html" %}
{% block title %}Prediction{% endblock %}
{% block content %}
<body style="background-image: url('/static/imgs/pred.jpeg'); background-size:100%">
    <div class="container-fluid" style="color: rgb(255, 0, 76);">
        <div class=" card display-4 my-2 text-center"><a href="{% url 'home'%}">House Price Prediction</a></div>
        <hr/>
            {% if result %}
            <div class="card col-md-4 offset-md-4">
                <div class="blink display-5 text-center">Price : {{ result }} </div>
            </div>
            {% endif %}
            <form class="row" method="POST" action="{% url 'pred' %}">
                {% csrf_token %}
                <div class="card col-md-4 offset-md-4">
                        bedrooms: <input name="bed"/><br/><br>
                        bathrooms: <input name="bath"/><br/><br>
                        sqft_living: <input name="sli"/><br/><br>
                        sqft_lot: <input name="sql"/><br/><br>
                        floors: <input name="fl"/><br/><br>
                        waterfront: <input name="wf"/><br/><br>
                        view: <input name="v"/><br/><br>
                        grade: <input name="g"/><br/><br>
                        sqft_above: <input name="sa"/><br/><br>
                        sqft_basement: <input name="sb"/><br/><br>
                        yr_built: <input name="yb"/><br/><br>
                        yr_renovated: <input name="yr"/><br/><br>
                        lat: <input name="l"/><br/><br>
                        sqft_living15: <input name="sl15"/><br/><br>
                        sqft_lot15: <input name="slot15"/><br/><br>
                    <input type="submit" class="btn btn-danger" value="Submit"></input>
                </div>
            </form>    
    </div>    
</body>
{% endblock %}         